<script src="https://kit.fontawesome.com/c007afa4a8.js" crossorigin="anonymous"></script>
<div class="container">
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="form-group">
            <label class="label" for="task">Task</label>
            <input required pattern="^[a-zA-Z ]{3,20}$" type="task" class="form-control" id="task"
                placeholder="Enter task" ngModel name="task">
            <div *ngIf="taskForm.invalid && taskForm.dirty" class="error-message">
                Required field!
            </div>
        </div>
        <button [disabled]="taskForm.invalid" type="submit" class="btn btn-primary">Submit
        </button>
    </form>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Done</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of taskArray ; index as i">
                <td [ngClass]="{'crossed-out': t.isCrossedOut}">{{t.taskName}}</td>
                <td><button class="btn btn-success btn-sm" (click)="toggleCrossedOut(i)">Done
                        <i class="fa fa-check"></i></button></td>
                <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete
                        <i class="fa fa-trash-can"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>