h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 1rem;
}
hr{
    border: solid 1px black ;
}
td{
    font-weight: bold;
}
.label{
    margin: 0.5rem;
}
.error-message{
    color: red;
    font-style: italic;
    font-size: 0.8em;
    &.error-hidden{
        visibility: hidden;
    }
}
.crossed-out {
    text-decoration: line-through;
    color: green;
  }
.btn-primary{
    margin-top: 10px;
}